body {
  font-family: "Inconsolata", "Source Code Pro", "Courier", monospace;
  width: 75vw;
  margin: auto;
}

input {
  font-family: inherit;
}

p {
  font-size: 10pt;
}

h4 {
  margin-bottom: 0.5rem;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left:0;
  font-size: 6px;
}


.text-center {
  text-align: center;
}

.big-input {
  width: 30vw;
}

.d-none {
  display: none;
}